* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.search-form {
  text-align: center;
  margin: 20px 0 20px 0;
}
.search-form__title {
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}
.search-form__input {
  font-size: 20px;
  height: 30px;
  padding: 0 5px;
  margin-bottom: 5px;
}
.btn {
  height: 30px;
  width: 150px;
  border: none;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: midnightblue;


}
.search-form__btn {
  margin-left: 10px;
  transform: translateY(-2px);
}
.profile {
  text-align: center;
}
.profile__name {
  margin: 10px 0;
}
.friends-list {
  display: flex;
  flex-wrap: wrap;
}
.friends_item {
  text-align: center;
  overflow: hidden;
  width: 100px;
  margin: 10px;

}
.friendName {
  text-align: center;
}